@import "~materialize-css/dist/css/materialize.min.css";

.btn_auth {
    margin-right: 10px;
}
input#email, input#password {
    border-bottom-color: #ffffff;
}

.input-field>label.inp_auth {
    color: #ffffff;
}